body { background: #e963c4; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 19px; display: flex; }
.block-validator-0 { color: #7c3de1; font-size: 19px; margin-bottom: 5px; }
.block-metrics-1 { color: #200281; font-size: 21px; margin-bottom: 5px; }
.block-user-2 { color: #efd9ff; font-size: 17px; margin-bottom: 5px; }
.block-helper-3 { color: #22eb40; font-size: 16px; margin-bottom: 5px; }
.block-product-4 { color: #5937ab; font-size: 17px; margin-bottom: 5px; }
.block-database-5 { color: #ded66b; font-size: 15px; margin-bottom: 5px; }
.block-product-6 { color: #f0d5a4; font-size: 18px; margin-bottom: 5px; }